.body {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 7em;
    color: #000000;
    margin-top: 20px;
}

.subtitle {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.content {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #000000;
    text-align: left; /* Ensure text alignment is consistent if needed */
}

.content-middle {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #000000;
    text-align: middle; /* Ensure text alignment is consistent if needed */
}

.content-list {
    font-size: 1.3em;
    margin-bottom: 5px;
    color: #574949;
    text-align: left; /* Ensure text alignment is consistent if needed */
}

.subtitle-content {
    font-size: 1.9em;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.problem-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Space below the image */
}

.objective-list {
    text-align: left;
    padding-left: 20px; /* Adjust padding as needed */
    list-style: inside; /* To keep the bullets inside aligned with text */
    font-size: 1.4em;
    color: #a38484;
}

.user-feedback {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feedback-item {
    background-color: #95ffb3; /* Light grey background for feedback items */
    padding: 10px;
    border-radius: 8px; /* Rounded corners for feedback boxes */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    width: 30%; /* Each feedback item takes up 30% of the container width */
    text-align: center; /* Center-align the text inside feedback items */
    font-size: 1.2em;
    color: #000000;
}

.disclaimer {
    font-size: 1.2em;
    color: #ff7272;
    text-align: left;
    margin-bottom: 10px;
}

/* Projects.css */

.project-content-image {
    display: flex;
    align-items: center; /* Aligns the image and text vertically */
    justify-content: space-between; /* Distributes space between image and text */
    margin: 20px 0; /* Adds margin for spacing around the block */
}

.project-content-image img {
    width: 50%; /* Sets the width of the image to 50% of its container */
    height: auto; /* Keeps the image aspect ratio intact */
    margin-right: 20px; /* Adds spacing between the image and the text */
}

.project-content-image div {
    width: 45%; /* Sets the width of the text block to 45% of its container */
    text-align: left; /* Aligns the text to the left */
}

.project-content-image-2 {
    display: flex;
    align-items: center; /* Aligns the image and text vertically */
    justify-content: space-between; /* Distributes space between image and text */
    margin: 20px 0; /* Adds margin for spacing around the block */
}

.project-content-image-2 img {
    width: 80%; /* Sets the width of the image to 50% of its container */
    height: 400px; /* Keeps the image aspect ratio intact */
    margin-right: 20px; /* Adds spacing between the image and the text */
}

.project-content-image-2 div {
    width: 45%; /* Sets the width of the text block to 45% of its container */
    text-align: left; /* Aligns the text to the left */
}

@media (max-width: 768px) {
    .project-content-image {
        flex-direction: column; /* Stacks the image and text vertically on smaller screens */
    }

    .project-content-image img {
        width: 100%; /* Allows the image to take full width of the container on small screens */
        margin-right: 0; /* Removes the margin between image and text */
    }

    .project-content-image div {
        width: 100%; /* Allows the text block to take full width of the container on small screens */
    }
}

/* Style for the table within the project */
.table {
    width: 100%; /* Ensures the table spans the entire width of its container */
    border-collapse: collapse; /* Removes space between borders */
    margin: 20px 0; /* Adds vertical spacing around the table */
}

.table th, .table td {
    text-align: left; /* Aligns text to the left */
    padding: 12px 15px; /* Adds padding inside table cells */
    border-bottom: 1px solid #ddd; /* Adds a light line under each row */
}

.table th {
    background-color: #f4f4f4; /* Light gray background for header cells */
    color: #333; /* Dark text for better readability */
    font-size: 1.2em; /* Slightly larger text for headers */
}

.table tbody tr:hover {
    background-color: #f9f9f9; /* Lighter gray background on row hover for better interaction feedback */
}

.table tbody tr:nth-child(even) {
    background-color: #fafafa; /* Zebra striping for rows */
}

.table a {
    color: #06c; /* Stylish color for links */
    text-decoration: none; /* Removes underline from links */
}

.table a:hover {
    text-decoration: underline; /* Adds underline on hover for links to indicate they are clickable */
}
