.body {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 7em;
    color: #000000;
    margin-top: 20px;
}

.subtitle {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.content {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #000000;
    text-align: left; /* Ensure text alignment is consistent if needed */
}

.content-middle {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #000000;
    text-align: middle; /* Ensure text alignment is consistent if needed */
}

.content-list {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #574949;
    text-align: left; /* Ensure text alignment is consistent if needed */
}

.subtitle-content {
    font-size: 1.9em;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.problem-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Space below the image */
}

.objective-list {
    text-align: left;
    padding-left: 20px; /* Adjust padding as needed */
    list-style: inside; /* To keep the bullets inside aligned with text */
    font-size: 1.4em;
    color: #a38484;
}

.user-feedback {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feedback-item {
    background-color: #95ffb3; /* Light grey background for feedback items */
    padding: 10px;
    border-radius: 8px; /* Rounded corners for feedback boxes */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    width: 30%; /* Each feedback item takes up 30% of the container width */
    text-align: center; /* Center-align the text inside feedback items */
    font-size: 1.2em;
    color: #000000;
}

.disclaimer {
    font-size: 1.2em;
    color: #ff7272;
    text-align: left;
    margin-bottom: 10px;
}