* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
  font-weight: 400;
  padding-top: 50px;
}

.padding {
  padding: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  padding: 0;
}

html, body {
  height: 100%;
}

.transition {
  transition: all 0.3s ease;
}

b {
  font-weight: 900;
}